<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre Mercancia</label>
                <div class="col-sm-6">
                 <input type="text" class="form-control" [(ngModel)]="mercancia.nombre" name="nombre">   
                </div>
            </div>
            <div class="form-group row">
                <label for="apecantidadllido" class="col-form-label col-sm-2">Cantidad</label>
                <div class="col-sm-6">
                 <input type="number" class="form-control" [(ngModel)]="mercancia.cantidad" name="cantidad">   
                </div>
            </div>
            <div class="form-group row" *ngIf="mercancia">
                <label for="mercancia" class="col-form-label col-sm-2">Usuario Crea</label>
                <div class="col-sm-6">
                 <select class="form-control" [(ngModel)]="mercancia.idusuarioCrea"  name="idusuarioCrea">
                     <option *ngFor="let usuario of usuarios" value={{usuario.id}} focus>{{usuario.nombre}}</option>
                 </select>  
                </div>
            </div>
            <div class="form-group row" *ngIf="mercancia">
                <label for="mercancia" class="col-form-label col-sm-2">Usuario Edita</label>
                <div class="col-sm-6">
                 <select class="form-control" [(ngModel)]="mercancia.idusuarioEdita"  name="idusuarioEdita">
                     <option *ngFor="let usuario of usuarios" value={{usuario.id}} focus>{{usuario.nombre}}</option>
                 </select>  
                </div>
            </div>
            <div class="form-group row">
                <label for="activo" class="col-form-label col-sm-2">Activo</label>
                <div class="col-sm-6">
                 <select class="form-control" [(ngModel)]="mercancia.activo" name="activo">
                     <option value=true focus>Activo</option>
                     <option value=false>Inactivo</option>
                 </select>  
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!mercancia.id else elseBlock">Crear Mercancia</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-success" role="button" (click)='update()'>Editar Mercancia</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>
